<body>
    <main>
        <section class="hero">
            <h1>Welcome to CSE Motors!</h1>
            <div class="delorean-info">
                <div class="delorean-text">
                    <h2><a href="#">DMC Delorean</a></h2>
                    <ul>
                        <li>3 Cup holders</li>
                        <li>Superman doors</li>
                        <li>Fuzzy dice!</li>
                    </ul>
                    <button>Own Today</button>
                </div>
                <img src="/public/images/vehicles/delorean-tn.jpg" alt="DMC Delorean">
            </div>
        </section>

        <section class="reviews">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80’s livin and I love it!" (5/5)</li>
            </ul>
        </section>

        <section class="upgrades">
            <h2>Delorean Upgrades</h2>
            <div class="upgrades-grid">
                <article>
                    <img src="/public/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                    <a href="#">Flux Capacitor</a>
                </article>
                <article>
                    <img src="/public/images/upgrades/flame.jpg" alt="Flame Decals">
                    <a href="#">Flame Decals</a>
                </article>
                <article>
                    <img src="/public/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                    <a href="#">Bumper Stickers</a>
                </article>
                <article>
                    <img src="/public/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                    <a href="#">Hub Caps</a>
                </article>
            </div>
        </section>
    </main>
</body>
